.cart-items-calc-container
    .added-items-section
        table.items-table#cartTable
            thead
                tr
                    th.total-item-number Items
                    th.qty-heading Qty
                    th.price-heading Price
            tbody.added-items-list
    
    include ../cart-total/cart-total-component.pug