.cart-items-calc-container
    .added-items-section
        table.items-table
            thead
                tr
                    th Items
                    th.qty-heading Qty
                    th.price-heading Price
            tbody
    
    include ../cart-total/cart-total-component.pug