.cart-items-calc-container {
    margin-top: 20px;
    width: 30%;
    .added-items-section {
        .items-table {
            width: 100%;
            thead {
                border-top: 1px solid #000;
                border-bottom: 1px solid #000;
                tr {
                    th.qty-heading {
                        text-align: center;
                    }
                    th.price-heading {
                        text-align: right;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 425px) {
    .cart-items-calc-container { 
        width: 100%;
    }
}