.total-amount-container {
    margin-top: 20px;
    border: 1px solid;
    padding: 5px 10px;
    .total-header-text {
        font-weight: bold;
    }
    .total-item-amount-section {
        .gross-total-table {
            width: 100%;
            tbody {
                tr {
                    td.total-text {
                        width: 50%;
                    }
                    .item-total, .disc-total, .type-disc-total, .gross-total {
                        text-align: right;
                    }
                    .item-total::before, .disc-total::before, .type-disc-total::before, .gross-total::before {
                        content: "\0024";
                    }
                    .disc-total::before, .type-disc-total::before {
                        content: "\2212""\0024";
                    }

                }
            }
        }
    }
}

@media only screen and (max-width: 425px) {
    .total-amount-container { 
        width: 100%;
    }
}