.total-amount-container
    .total-header-text Total
    .total-item-amount-section
        table.gross-total
            tbody
                tr
                    td.total-text Items
                    td :
                    td.item-total 123
                tr
                    td.total-text Discount
                    td :
                    td.disc-total 123
                tr
                    td.total-text Type Discount
                    td :
                    td.type-disc-total -$0
                tr
                    td.total-text Order Total
                    td :
                    td.gross-total 123